<%= form_with(model: talent, local: true) do |form| %>
  <% if talent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talent.errors.count, "error") %> prohibited this talent from being saved:</h2>

      <ul>
      <% talent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.text_field :level, class: 'form-control', placeholder: 'Level' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>

  <% @heros.each do |hero| %>
    <br>
    <%= form.fields_for :hero_talents do |fm| %>
      <%= fm.hidden_field :hero_id, value: hero.id %>
      <!-- Create a checkbox to add the milestone_id to the project -->
      <%= fm.label hero.name %>
      <%= fm.check_box :hero_id, {}, hero.id %>
      <br>
    <% end %>
  <% end %>


  
  <%= form.submit 'Submit', class: 'btn btn-default' %>

<% end %>


