<%= form_with(model: talent, local: true) do |form| %>
  <% if talent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talent.errors.count, "error") %> prohibited this talent from being saved:</h2>

      <ul>
      <% talent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.text_field :level, class: 'form-control', placeholder: 'Level' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>

  

  <div class="form-group">
    <%= form.label :hero_link %>
    <%= form.collection_check_boxes :hero_ids, Hero.all, :id, :name  do |b| %>
      <div class="row" style='margin:0;'>
        <%= b.label(class: "check_box") do %>
          <div style='width:2%;float:left;'>
            <%= b.check_box(class: "check_box") %>
          </div>

          <div class="col-xs-8" style='padding:0;'>
            <%= b.object.name %>
          </div>       
        <% end %>
      </div>
    <% end %>
  </div>

  


  
  <%= form.submit 'Submit', class: 'btn btn-default' %>

<% end %>


