<%= render "layouts/page_title" %>
<div class='row'>
  <div class='col-xs-12 text-right'>
    <%= link_to 'New Talent', new_talent_path, class: 'btn btn-sm btn-primary' %> 
  </div>
  <% @talents.each do |talent| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag talent.image_url(:thumb), class: 'thumb-lg img-circle' if talent.image? %>
        <div class="caption text-center">
          <h4 class='text-center'><%= talent.name %></h4>
          <p>
            <%= link_to 'View', talent, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_talent_path(talent), class: 'btn btn-sm btn-default' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div> 