<%= render "layouts/page_title" %>

<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
    <h3 class="box-title"> <%= controller.controller_name.titleize %>
      <div class="col-md-2 col-sm-4 col-xs-12 pull-right text-right">
        <%= link_to 'New Talent', new_talent_path, class: 'btn btn-sm btn-primary' %> 
      </div>
    </h3>
    <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th colspan="1"></th>
              <th>Talent Name</th>
            </tr>
          </thead>

          <tbody>
            <% @talents.each do |talent| %>
              <tr>
                <td class='col-sm-2'>
                  <div class='col-sm-1'>
                    <%= link_to talent do%>
                      <i class='fa fa-eye'></i>
                    <% end %>  
                  </div>
                  <div class='col-sm-1'>
                    <%= link_to edit_talent_path(talent) do%>
                      <i class='fa fa-pencil'></i>
                    <% end %>
                  </div>
                  <div class='col-sm-1'>
                    <%= link_to talent, method: :delete, data: { confirm: 'Are you sure?' } do%>
                      <i class='fa fa-trash text-danger'></i>
                    <% end %>
                  </div> 
                </td>
                <td>
                  <%= talent.try(:name) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>    