<%= form_with(model: hero, local: true) do |form| %>
  <% if hero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

      <ul>
      <% hero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class="form-group">
    <%= form.label :hero_class %>
    <%= form.text_field :hero_class, class: 'form-control', placeholder: 'Class' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  
  <%= form.submit 'Update', class: 'btn btn-default' %>

<% end %>