<%= render "layouts/page_title" %>
<div class='row'>
  <div class='col-xs-12 text-right'>
    <%= link_to 'New Hero', new_hero_path, class: 'btn btn-sm btn-primary' %> 
  </div>
  <% @heros.each do |hero| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag hero.image_url(:thumb), class: 'thumb-lg img-circle' if hero.image? %>
        <div class="caption text-center">
          <h4 class='text-center'><%= hero.name %></h4>
          <p>
            <%= link_to 'View', hero, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_hero_path(hero), class: 'btn btn-sm btn-default' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
