<%= render "layouts/page_title" %>
<div class='row'>
  <div class='col-xs-12 text-right'>
    <%= link_to 'New Map', new_map_path, class: 'btn btn-sm btn-primary' %> 
  </div>
  <% @maps.each do |map| %>
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag map.image_url(:thumb), class: 'thumb-lg img-circle' if map.image? %>
        <div class="caption text-center">
          <h4 class='text-center'><%= map.name %></h4>
          <p>
            <%= link_to 'View', map, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_map_path(map), class: 'btn btn-sm btn-default' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div> 
