
<div class='row'>
  <%= form_with(model: build, local: true, class: 'form-horizontal form-material') do |form| %>
    <div class="col-md-4 col-xs-12">
      <div class="white-box">
        <div class="user-bg">
          <div class="overlay-box">
            <div class="user-content">
              <a href="javascript:void(0)">
                <%= image_tag build.hero.image_url(:thumb), class: 'thumb-lg img-circle' if build.hero.image? %>
              </a>
              <%= form.label :hero_link, class: 'col-sm-12 text-white' %>
              <div class="col-sm-12">
                <%= form.collection_select(:hero_id, Hero.all, :id, :name, {}, { class: 'form-control form-control-line' }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="user-btm-box">
          <div class="col-sm-12 text-center">
            <%= form.text_area :objective, class: 'form-control form-control-line', placeholder: 'Objective' %>
            <button class="btn btn-success" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-xs-12">
      <div class="col-xs-12">
        <div class="white-box">
          <div class="form-group">
            <%= form.label :talent_link, class: 'col-sm-12' %>
            <div class="row">
              <%= form.collection_check_boxes :talent_ids, Talent.all, :id, :name do |b| %>
                <div class="col-sm-3">
                  <div class="thumbnail">
                    <%= image_tag b.object.image_url(:thumb), class: 'thumb-lg img-circle' if b.object.image? %>
                    <div class="caption">
                      <h4 class='text-center'><%= link_to b.object.name, b.object %></h4>
                      <%= b.label(class: "check_box") do %>
                        <div style='width:2%;float:left;'>
                          <%= b.check_box(class: "check_box") %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="white-box">
          <div class="form-group">
            <%= form.label :map_link, class: 'col-sm-12' %>
            <div class="col-sm-12">
              <%= form.collection_check_boxes :map_ids, Map.all, :id, :name do |b| %>
                <div class="col-sm-3">
                  <div class="thumbnail">
                    <%= image_tag b.object.image_url(:thumb), class: 'thumb-lg img-circle' if b.object.image? %>
                    <div class="caption">
                      <h4 class='text-center'>
                        <%= link_to b.object.name, b.object %>
                        <%= b.label(class: "check_box") do %>
                          <div style='width:2%;float:left;'>
                            <%= b.check_box(class: "check_box") %>
                          </div>
                        <% end %>
                      </h4>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="white-box">
          <div class="form-group">
            <%= form.label :synergy_link, class: 'col-sm-12' %>
            <div class="col-sm-12">
              <%= form.collection_check_boxes :synergy_hero_ids, Hero.all, :id, :name do |b| %>
                <div class="col-sm-3">
                  <div class="thumbnail">
                    <%= image_tag b.object.image_url(:thumb), class: 'thumb-lg img-circle' if b.object.image? %>
                    <div class="caption">
                      <h4 class='text-center'><%= link_to b.object.name, b.object %></h4>
                      <%= b.label(class: "check_box") do %>
                        <div style='width:2%;float:left;'>
                          <%= b.check_box(class: "check_box") %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="white-box">
          <div class="form-group">
            <%= form.label :counter_link, class: 'col-sm-12' %>
            <div class="col-sm-12">
              <%= form.collection_check_boxes :counter_hero_ids, Hero.all, :id, :name   do |b| %>
                <div class="col-sm-3">
                  <div class="thumbnail">
                    <%= image_tag b.object.image_url(:thumb), class: 'thumb-lg img-circle' if b.object.image? %>
                    <div class="caption">
                      <h4 class='text-center'><%= link_to b.object.name, b.object %></h4>
                      <%= b.label(class: "check_box") do %>
                        <div style='width:2%;float:left;'>
                          <%= b.check_box(class: "check_box") %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
